/* CSS Document */

.bettertip {
  background: url("tool.png") no-repeat scroll left center rgb(0, 0, 0);
  border-radius: 5px;
  display: none;
  padding: 10px 30px;
  position: absolute;
  z-index: 9999;
}
